table borde ="1"
<tr>
  <th>id</th>
  <th>Dados do Cliente</th>
  <th>CPF</th>
  <th>RG/CNH</th>
  <th>Endereço</th>
  <th>Bairro</th>
  <th>Cidade</th>
  <th>Complemento</th>
  <th>Cep</th>
  <th>Estado</th>
</tr>
<tr>
  "*ngfor=let dado of dados"
</tr>
<!--
<td>{{ dado.Id }}</td>
<td>{{dado.Nome do Cliente}}</td>
<td>{{ dado.CPF }}</td>
<td>{{dado.Endereço}}</td>
<td>{{ dado.Bairro }}</td>
<td>{{ dado.Cidade }}</td>
<td>{{ dado.Complemento }}</td>
<td>{{ dado.Cep }}</td>
<td>{{ dado.Estado }}</td>
-->
<button>Atualizar</button>
<button>Excluir</button>
