<div class="container">
  <!--FORMULÁRIO DE CADASTRO-->
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <form method="post" action="">
        <h1>Cadastro</h1>

        <p>
          <label for="nome_cad">Seu nome</label>
          <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="nome" />
        </p>

        <p>
          <label for="email_cad">Seu e-mail</label>
          <input id="email_cad" name="email_cad" required="required" type="email"
            placeholder="contato@htmlecsspro.com" />
        </p>

        <p>
          <label for="senha_cad">Sua senha</label>
          <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="ex. 1234" />
        </p>

        <p>
          <input type="submit" value="Cadastrar" routerLink="/" />
        </p>

        <p class="link">
          Já tem conta?
          <a routerLink="/"> Ir para Login </a>
        </p>
      </form>
    </div>
  </div>
</div>