<div class="container">
  <!--FORMULÁRIO DE CADASTRO-->
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <form class="col col-lg-6 login-form" [formGroup]="form">
        <h1>Cadastro</h1>

        <label for="nome_cad">Seu nome</label>
        <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="nome" />
        <label for="email_cad">Seu e-mail</label>
        <input id="email_cad" name="email_cad" required="required" type="email" placeholder="contato@htmlecsspro.com" />
        <label for="senha_cad">Sua senha</label>
        <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="ex. 1234" />
        <input type="submit" value="Cadastrar" routerLink="/" />
        <p class="link">
          Já tem conta?
          <a routerLink="/"> Ir para Login </a>
      </form>
    </div>
  </div>
</div>