<title>DEVCARROS</title>

<mat-toolbar>
  <mat-toolbar-row style="font-size: 1.2rem; height: 70px;">
    <span><b>Gerenciador Automotivo</b></span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="beforeMenu"><b>ESCOLHA UMA FUNCINALIDADE</b> </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Cadastrar Veículo</button>
      <button mat-menu-item>Cadastar Seviço</button>
      <button mat-menu-item>Sair</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<!--<div class="d-flex flex-column wrapper">
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm mb-3"
  >
    <div class="container">
      <a class="navbar-brand" routerLink="/"><b>Gerenciador Automotivo</b></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link text-white" href="/veiculo">Veículos</a>
          </li>
        </ul>
        <div class="align-self-end">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/autenticacao" class="nav-link text-white"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>-->