<div class="container mt-5 mb-5 pt-5" style="position: relative">
  <form>
    <div class="form-row">
      <input type="hidden" name="id" [(ngModel)]="cliente.id" />
      <div class="form-group col-md-6">
        <label for="nome">Marca</label>
        <input
          name="nome"
          type="text"
          class="form-control"
          [(ngModel)]="cliente.nome"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="sobrenome">Modelo</label>
        <input
          type="text"
          class="form-control"
          name="sobrenome"
          [(ngModel)]="cliente.sobrenome"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="cpf">Cor</label>
        <input
          type="text"
          class="form-control"
          name="cpf"
          [(ngModel)]="cliente.cpf"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="rg">Ano</label>
        <input
          type="text"
          class="form-control"
          name="rg"
          [(ngModel)]="cliente.rg"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="telefone">Placa</label>
        <input
          type="text"
          class="form-control"
          name="email"
          [(ngModel)]="cliente.email"
        />
      </div>
    </div>

    <button
      type="submit"
      class="btn"
      [class]="operacao ? 'btn-primary' : 'btn-success'"
    >
      {{ operacao ? "Cadastrar" : "Atualizar" }}
    </button>
    <br /><br />

    <div class="m-1">
      <p-table [rows]="4" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Cor</th>
            <th>Ano</th>
            <th>Placa</th>
            <th class="th-acoes">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ag>
          <tr>
            <td>{{ ag.id }}</td>
            <td>{{ ag.nome }}</td>
            <td>{{ ag.telefone }}</td>
            <td>
              <p-button
                icon="pi pi-pencil"
                class="btn-editar"
                [title]="'Editar contato ' + ag.nome"
              >
              </p-button>
              <p-button
                icon="pi pi-trash"
                [title]="'Excluir contato ' + ag.nome"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <br /><br />
    <a routerLink="/home">Voltar para Home</a>
    <br /><br />
    <a routerLink="/servicos/cadastro">Serviços</a>
  </form>
</div>
