<div class="container mt-5 mb-5 pt-5" style="position: relative">
  <form>
    <div class="form-row">
      <input type="hidden" name="id" [(ngModel)]="veiculo.id" />
      <div class="form-group col-md-6">
        <label for="marca">Marca</label>
        <input name="marca" type="text" class="form-control" [(ngModel)]="veiculo.marca" />
      </div>
      <div class="form-group col-md-6">
        <label for="modelo">Modelo</label>
        <input type="text" class="form-control" name="modelo" [(ngModel)]="veiculo.modelo" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="cor">Cor</label>
        <input type="text" class="form-control" name="cor" [(ngModel)]="veiculo.cor" />
      </div>
      <div class="form-group col-md-4">
        <label for="ano">Ano</label>
        <input type="text" class="form-control" name="ano" [(ngModel)]="veiculo.ano" />
      </div>
      <div class="form-group col-md-4">
        <label for="placa">Placa</label>
        <input type="text" class="form-control" name="placa" [(ngModel)]="veiculo.placa" />
      </div>
    </div>

    <button type="submit" class="btn" [class]="operacao ? 'btn-primary' : 'btn-success'" (click)="adicionar()">
      {{ operacao ? "Cadastrar" : "Atualizar" }}
    </button>
    <br /><br />

    <div class="m-1">
      <p-table [rows]="4" [showCurrentPageReport]="true" [value]="veiculos">
        <ng-template pTemplate="header">
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Cor</th>
            <th>Ano</th>
            <th>Placa</th>
            <th class="th-acoes">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dado>
          <tr>
            <td>{{ dado.marca }}</td>
            <td>{{ dado.modelo }}</td>
            <td>{{ dado.cor }}</td>
            <td>{{ dado.placa }}</td>
            <td>{{ dado.ano }}</td>
            <td>
              <p-button icon="pi pi-plus" class="p-button-success" [routerLink]="'/servicos' + dado.id + '/cadastro'">
              </p-button>
              <p-button icon="pi pi-pencil" class="btn-editar" [title]="'Editar contato ' + dado.marca">
              </p-button>
              <p-button icon="pi pi-trash" [title]="'Excluir contato ' + dado.marca"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <br /><br />
    <a routerLink="/home">Voltar para Home</a>
  </form>
</div>