<div class="container mt-5 mb-5 pt-5" style="position: relative">
  <div>
    <h5>Entre com o usuario</h5>
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText [(ngModel)]="value1" />
      <label for="float-input">Usuário</label>
    </span>
    <h5>Mostrar Senha</h5>
    <p-password [(ngModel)]="value2" [toggleMask]="true"></p-password>
  </div>

  <button
    type="submit"
    class="btn"
    [class]="operacao ? 'btn-primary' : 'btn-success'"
  >
    {{ "Acessar" }}
  </button>
  <br /><br />
  <a routerLink="/listar/cliente">Voltar para Home</a>
</div>
