<app-header></app-header>
<p-carousel [value]="cars">
  <ng-template let-car pTemplate="item">
    <img [src]="car" alt="" width="100%" height="300px" />
  </ng-template>
</p-carousel>

<mat-tab-group mat-align-tabs="center" style="padding-top: 10px; padding-left: 2%; padding-right: 2%;">
  <mat-tab label="Troca de óleo">
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding:2%;" style="margin: 1%;">
      <div>
        <mat-card class="mat-card-instrucao" class="mat-card-live" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
          <mat-card-title class="mat-card-title-instrucao">

          </mat-card-title>
          <mat-card-content>
            <p> <b>
                Esse conjunto de itens sofre maior desgaste por ser acionado com
                frequência, isso acontece geralmente quando se tem uma grande
                rodagem, principalmente em perímetro urbano, onde o trânsito é mais
                lento e exige mais do sistema de embreagem. A troca da embreagem em
                casos de desgaste é importante para garantir o funcionamento correto
                do câmbio e para que o condutor trafegue sem problemas.</b>
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Revisão dos componentes de Freio">
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding:2%;">
      <div>
        <mat-card class="mat-card-instrucao" class="mat-card-live" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
          <mat-card-title>
          </mat-card-title>
          <mat-card-content>
            <p><b>
                São inúmeros os componentes que compõem o sistema de frenagem do
                veículo como exemplo pastilhas, discos de freio, tambor entre
                outros. Regularmente tendem a ser feitas revisões nestes itens pois
                são de uso constante e consequentemente sofrem desgaste, como são de
                extrema importância para a segurança é inevitável o serviço de
                revisão e manutenção.</b>
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Serviço básico">
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding:2%;">
      <div>
        <mat-card class="mat-card-instrucao" class="mat-card-live" fxFlex="0 1 calc(33.3% - 11px)"
          fxFlex.lt-md="0 1 calc(50% - 11px)" fxFlex.lt-sm="100%">
          <mat-card-title>
          </mat-card-title>
          <mat-card-content>
            <p><b>
                São inúmeros os componentes que compõem o sistema de frenagem do
                veículo como exemplo pastilhas, discos de freio, tambor entre
                outros. Regularmente tendem a ser feitas revisões nestes itens pois
                são de uso constante e consequentemente sofrem desgaste, como são de
                extrema importância para a segurança é inevitável o serviço de
                revisão e manutenção.</b>
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!--
<div class="container">
  <div class="row wrap g-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Troca de oleo</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            Esse conjunto de itens sofre maior desgaste por ser acionado com
            frequência, isso acontece geralmente quando se tem uma grande
            rodagem, principalmente em perímetro urbano, onde o trânsito é mais
            lento e exige mais do sistema de embreagem. A troca da embreagem em
            casos de desgaste é importante para garantir o funcionamento correto
            do câmbio e para que o condutor trafegue sem problemas.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Revisão dos componentes de Freio</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            São inúmeros os componentes que compõem o sistema de frenagem do
            veículo como exemplo pastilhas, discos de freio, tambor entre
            outros. Regularmente tendem a ser feitas revisões nestes itens pois
            são de uso constante e consequentemente sofrem desgaste, como são de
            extrema importância para a segurança é inevitável o serviço de
            revisão e manutenção.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Troca de óleo do motor</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            A troca de óleo do motor é um dos serviços mais frequentes dentro da
            oficina mecânica e, mesmo sendo um procedimento simples, é
            importantíssimo para manter o bom funcionamento do veículo. Além do
            lubrificante é realizada a troca do filtro de óleo, portanto são
            itens e um serviço que não podem faltar de jeito nenhum em sua
            oficina mecânica.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Troca de filtros</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            Além do filtro de óleo, o veículo possui filtro de ar, filtro de
            combustível e todos tem a função de eliminar impurezas indiferente
            de onde aplicado.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Troca de lâmpadass</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            A iluminação do veículo é essencial para manter a segurança
            principalmente quando se roda a noite. O farol desregulado e
            lâmpadas queimadas podem gerar multa quando não estão de acordo com
            o padrão exigido. Logo, são itens a serem revisados frequentemente e
            em alguns casos até mesmo proprietário do carro pode efetuar a
            troca.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Alinhamento e Balanceamento</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            O alinhamento e balanceamento tendem a ser procedimentos periódicos,
            pois as estradas não apresentam boas condições de tráfego e assim
            vão desalinhando e causando desgastes nos componentes da suspensão.
            Realizando também a troca de pneus ou rodízio dos mesmos, o
            alinhamento e balanceamento são necessários para manter a
            dirigibilidade e evitar desgastes irregulares dos pneus.
          </p>

          <p></p>
        </div>

        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
  </div>
</div>-->