<app-header></app-header>
<div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="3000">
    <p-carousel [value]="cars">
      <ng-template let-car pTemplate="item">
        <img [src]="car" alt="" width="100%" height="300px"
          style="padding-top: 10px; padding-left: 20%; padding-right: 20%;" />
      </ng-template>
    </p-carousel>
  </div>
</div>
<mat-tab-group mat-align-tabs="center" style="padding-top: 10px; padding-left: 2%; padding-right: 2%;">
  <mat-tab label="Troca de óleo">
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding:2%;" style="margin: 1%;">
      <div>
        <mat-card class="mat-card-instrucao" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">
          <mat-card-title class="mat-card-title-instrucao">
            <h3>Benefícios da troca de óleo</h3>
          </mat-card-title>
          <mat-card-content>
            <p> <b>

                Esse conjunto de itens sofre maior desgaste por ser acionado com
                frequência, isso acontece geralmente quando se tem uma grande
                rodagem, principalmente em perímetro urbano, onde o trânsito é mais
                lento e exige mais do sistema de embreagem. A troca da embreagem em
                casos de desgaste é importante para garantir o funcionamento correto
                do câmbio e para que o condutor trafegue sem problemas.
              </b>
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Revisão dos componentes de Freio">
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding:2%;" style="margin: 1%;">
      <div>
        <mat-card class="mat-card-instrucao" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">
          <mat-card-title class="mat-card-title-instrucao">
            <h3>IMPORTANTE!</h3>
          </mat-card-title>
          <mat-card-content>
            <p><b>
                São inúmeros os componentes que compõem o sistema de frenagem do
                veículo como exemplo pastilhas, discos de freio, tambor entre
                outros. Regularmente tendem a ser feitas revisões nestes itens pois
                são de uso constante e consequentemente sofrem desgaste, como são de
                extrema importância para a segurança é inevitável o serviço de
                revisão e manutenção.</b>
            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Revisão básico">
    <div fxLayout="row wrap" fxLayoutAlign="center center" style="padding:2%;" style="margin: 1%;">
      <div>
        <mat-card class="mat-card-instrucao" fxFlex="0 1 calc(33.3% - 11px)" fxFlex.lt-md="0 1 calc(50% - 11px)"
          fxFlex.lt-sm="100%">
          <mat-card-title class="mat-card-title-instrucao">
            <h3>Benefícios da revisão PREVENTIVA!</h3>
          </mat-card-title>
          <mat-card-content>
            <p><b>
                <h5>Quais são as vantagens da manutenção preventiva?</h5>
                <p>Se você gosta da sensação de passar meses sem frequentar oficinas e só procurar o mecânico quando o
                  carro apresenta um
                  problema, saiba que está sendo vítima de uma falsa impressão de economia. Cada visita dessas à
                  oficina,
                  depois de
                  perceber falhas no veículo, está saindo bem mais cara do que seria, caso você realizasse as revisões
                  em
                  dia.A manutenção preventiva serve exatamente para prever problemas no carro e resolvê-los antes que
                  eles
                  se
                  tornem um risco
                  para sua segurança e seu bolso. Vamos ver o que ela pode fazer por você?
                </p>



                <h5>Evita surpresas desagradáveis</h5>
                <p>Muitas questões do seu carro podem ser acompanhadas e resolvidas antes mesmo de virarem problemas.
                  Todas
                  as peças têm
                  uma vida útil específica e apresentam sintomas quando estão sofrendo desgaste. Assim, ao realizar a
                  manutenção
                  preventiva e trocar essas peças no tempo correto, você evita o risco de algum componente parar de vez
                  e
                  ficar na mão por
                  causa de uma pane mecânica.</p>

                <h5> Proporciona maior segurança</h5>
                <p>Um veículo mal cuidado é um perigo para o motorista e o trânsito em geral. Lembre-se de que tudo no
                  seu
                  carro é
                  programado para funcionar em conjunto. Quando um componente, por mais simples que pareça, passa da
                  vida
                  útil e começa a
                  sofrer um desgaste exagerado, pode causar grandes danos à sua segurança.

                  Imagine, por exemplo, que você está rodando com seu carro e, de repente, enfrenta problemas no câmbio
                  e
                  não consegue
                  mais mudar de marcha. Pior, em dado momento, tenta frear o veículo e percebe que ele não está com a
                  mesma eficiência de
                  antes. Situações desse tipo configuram grandes riscos no trânsito. Por isso, acompanhar as condições
                  das
                  peças é
                  fundamental para dirigir de forma segura!</p>

                <h5>Reduz os custos</h5>
                <p>Sim, realizar manutenções preventivas permite que você economize dinheiro. Isso acontece por dois
                  motivos principais. O
                  primeiro é que um carro desregulado, geralmente, consome mais combustível e desgasta mais rápido as
                  peças. O segundo é
                  que manutenções corretivas sempre serão mais caras do que as preventivas.

                  Na prática, acontece o seguinte: se na revisão você precisa gastar R$ 100,00 trocando uma pequena peça
                  que chegou ao fim
                  da vida útil significa que, se não trocada, ela pode prejudicar outras peças e até um sistema todo,
                  causando gastos
                  muitos maiores.

                  Podemos usar o exemplo dos pneus. Se você não mantiver o alinhamento e balanceamento em dia, eles vão
                  sofrer desgaste
                  irregular e precisarão ser trocados antes da data. O valor desses dois serviços certamente é muito
                  mais
                  barato que um
                  jogo de pneus novos, não é? Então, se você deseja diminuir seus gastos, a melhor dica é realizar todas
                  as revisões
                  programadas.
                </p>
                <h5>Quando as manutenções devem ser realizadas?</h5>
                <p>O fabricante dá todas as informações que você precisa para manter seu veículo em bom estado.
                  Portanto, a
                  fim de saber as
                  necessidades de manutenção preventiva, basta consultar o manual de instruções do seu carro. Nele é
                  possível saber quais
                  são as verificações e o período em que elas devem acontecer.

                  Além disso, é sempre bom contar com um mecânico de confiança que acompanhe o histórico do seu veículo
                  e
                  ajude você a
                  entender as particularidades dele. As orientações do fabricante são pensadas para um uso geral do
                  carro,
                  mas cada
                  proprietário pode ter necessidades diferentes. Alguém que viaja bastante e enfrenta estradas em más
                  condições, por
                  exemplo, certamente precisará realizar as manutenções em um tempo menor.

                  Sua maneira de dirigir, o peso que você coloca no carro e as condições das ruas por onde anda podem
                  exigir cuidados
                  diferenciados. Para isso, eleja uma oficina na qual tenha confiança e acompanhe o histórico do seu
                  carro
                  para entender
                  as necessidades de manutenção preventiva.

                  Há alguns elementos que você pode avaliar sozinho. A fim de garantir a boa condição do carro,
                  verifique
                  toda semana o
                  estado do líquido de arrefecimento, a pressão de ar dos pneus e o nível de óleo do motor. Também
                  observe
                  com frequência
                  o funcionamento das luzes e da buzina, o desgaste dos pneus e as condições dos equipamentos de
                  segurança
                  (triângulo,
                  macaco e estepe).

                  Para ficar sempre atento às necessidades do seu veículo, a tecnologia pode ajudar muito! O aplicativo
                  carro 100%
                  notifica você sempre que chegar o momento de seguir alguma recomendação do fabricante. Ele é gratuito
                  e
                  está desde 2008
                  estimulando a manutenção preventiva.</p>

                <h5> O que deve ser observado no carro?</h5>
                <p>Fique de olho no período de manutenção de alguns componentes que são fundamentais para a segurança do
                  seu veículo:
                </p>
                <p>filtro de ar — uma vez por ano;
                  fluido de freios — uma vez por ano;
                  óleo lubrificante e filtro de óleo — a cada 10 mil quilômetros;
                  discos, pastilhas e outras peças do freio — a cada 10 mil quilômetros;
                  alinhamento e balanceamento — a cada 10 mil quilômetros;
                  filtro de combustível — a cada 10 mil ou 15 mil quilômetros;
                  sistema de arrefecimento — a cada 30 mil quilômetros.
                  Essas são algumas das peças que precisam de atenção. Cumprir os prazos da manutenção preventiva e
                  contar
                  com um mecânico
                  de confiança para realizá-la são aspectos fundamentais a fim de que você possa aproveitar seu carro
                  por
                  muito tempo! Ao
                  mantê-lo em boas condições, você evita sustos e gastos excessivos
                </p>
              </b>

            </p>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<!--
<div class="container">
  <div class="row wrap g-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Troca de oleo</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            Esse conjunto de itens sofre maior desgaste por ser acionado com
            frequência, isso acontece geralmente quando se tem uma grande
            rodagem, principalmente em perímetro urbano, onde o trânsito é mais
            lento e exige mais do sistema de embreagem. A troca da embreagem em
            casos de desgaste é importante para garantir o funcionamento correto
            do câmbio e para que o condutor trafegue sem problemas.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Revisão dos componentes de Freio</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            São inúmeros os componentes que compõem o sistema de frenagem do
            veículo como exemplo pastilhas, discos de freio, tambor entre
            outros. Regularmente tendem a ser feitas revisões nestes itens pois
            são de uso constante e consequentemente sofrem desgaste, como são de
            extrema importância para a segurança é inevitável o serviço de
            revisão e manutenção.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Troca de óleo do motor</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            A troca de óleo do motor é um dos serviços mais frequentes dentro da
            oficina mecânica e, mesmo sendo um procedimento simples, é
            importantíssimo para manter o bom funcionamento do veículo. Além do
            lubrificante é realizada a troca do filtro de óleo, portanto são
            itens e um serviço que não podem faltar de jeito nenhum em sua
            oficina mecânica.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Troca de filtros</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            Além do filtro de óleo, o veículo possui filtro de ar, filtro de
            combustível e todos tem a função de eliminar impurezas indiferente
            de onde aplicado.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Troca de lâmpadass</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            A iluminação do veículo é essencial para manter a segurança
            principalmente quando se roda a noite. O farol desregulado e
            lâmpadas queimadas podem gerar multa quando não estão de acordo com
            o padrão exigido. Logo, são itens a serem revisados frequentemente e
            em alguns casos até mesmo proprietário do carro pode efetuar a
            troca.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4">
      <div class="card text-center bg-light">
        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px"></i>
        </a>
        <div class="card-header">Alinhamento e Balanceamento</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text truncar-3l">
            O alinhamento e balanceamento tendem a ser procedimentos periódicos,
            pois as estradas não apresentam boas condições de tráfego e assim
            vão desalinhando e causando desgastes nos componentes da suspensão.
            Realizando também a troca de pneus ou rodízio dos mesmos, o
            alinhamento e balanceamento são necessários para manter a
            dirigibilidade e evitar desgastes irregulares dos pneus.
          </p>

          <p></p>
        </div>

        <div class="card-footer">
          <small class="text-success">Serviço básico</small>
        </div>
      </div>
    </div>
  </div>
</div>-->