<div class="p-d-flex p-jc-center" style="position: relative">
  <div>
    <h5>Usuário</h5>
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText [(ngModel)]="value1" />
      <label for="float-input">Digite seu CPF</label>
    </span>
    <h5>Senha</h5>
    <p-password [(ngModel)]="value2" [toggleMask]="true"></p-password>
    <button
      pButton
      type="submit"
      class="btn"
      [class]="operacao ? 'btn-primary' : 'btn-success'"
    >
      {{ "Acessar" }}
    </button>
    <div class="p-mr-2">
      <br /><br />
      <a routerLink="/cliente">Cadastrar Cliente</a>
      <br /><br />
      <a routerLink="">Voltar para Home</a>
    </div>
  </div>
</div>
