<div class="row g-3">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div class="card text-center bg-light">
          <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
          </a>
          <a href="/produto.html">
              <img src="/img/produtos/0001.jfif" class="card-img-top">
          </a>
          <div class="card-header">
              R$ 50,00 até R$ 400,00
          </div>
          <div class="card-body">
              <h5 class="card-title">Troca de oleo</h5>
              <p class="card-text truncar-3l">
                  Ressaltamos que os valores acima podem sofrer variações.
              </p>
          </div>
          <div class="card-footer">
              <a href="carrinho.html" class="btn btn-success mt-2 d-block">
                  Adicionar ao Carrinho
              </a>
              <small class="text-success">Varias marcas em estoque</small>
          </div>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div class="card text-center bg-light">
          <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
          </a>
          <img src="img/produtos/0002.jfif" class="card-img-top">
          <div class="card-header">
              R$ 250,00 até R$ 1200,00
          </div>
          <div class="card-body">
              <h5 class="card-title">Troca de freios</h5>
              <p class="card-text truncar-3l">
                  Ressaltamos que os valores acima podem sofrer variações.
              </p>
          </div>
          <div class="card-footer">
              <a href="carrinho.html" class="btn btn-success mt-2 d-block">
                  Adicionar ao Carrinho
              </a>
              <small class="text-success">Varias marcas em estoque</small>
          </div>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div class="card text-center bg-light">
          <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
          </a>
          <img src="img/produtos/0003.jfif" class="card-img-top">
          <div class="card-header">
              R$ 70,00 até R$ 120,00
          </div>
          <div class="card-body">
              <h5 class="card-title">Linhamento e balancemato</h5>
              <p class="card-text truncar-3l">
                  Ressaltamos que os valores acima podem sofrer variações.
              </p>
          </div>
          <div class="card-footer">
              <a href="carrinho.html" class="btn btn-success mt-2 d-block">
                  Adicionar ao Carrinho
              </a>
              <small class="text-success">Agende um horário</small>
          </div>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div class="card text-center bg-light">
          <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart-fill" style="font-size: 24px; line-height: 24px;"></i>
          </a>
          <img src="img/produtos/0004.jfif" class="card-img-top">
          <div class="card-header">
              R$ 4,50
          </div>
          <div class="card-body">
              <h5 class="card-title">Troca de suspensão</h5>
              <p class="card-text truncar-3l">
                  Ressaltamos que os valores acima podem sofrer variações.
              </p>
          </div>
          <div class="card-footer">
              <a href="carrinho.html" class="btn btn-success mt-2 d-block">
                  Adicionar ao Carrinho
              </a>
              <small class="text-success">Varias marcaas em estoque</small>
          </div>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div class="card text-center bg-light">
          <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
          </a>
          <img src="img/produtos/0005.jfif" class="card-img-top">
          <div class="card-header">
              R$ --
          </div>
          <div class="card-body">
              <h5 class="card-title">Troca de pneus</h5>
              <p class="card-text truncar-3l">
                  Ressaltamos que os valores acima podem sofrer variações.
              </p>
          </div>
          <div class="card-footer">
              <a href="carrinho.html" class="btn btn-success mt-2 d-block">
                  Adicionar ao Carrinho
              </a>
              <small class="text-success">Vaias marcas em estoque</small>
          </div>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div class="card text-center bg-light">
          <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
          </a>
          <img src="img/produtos/0006.jfif" class="card-img-top">
          <div class="card-header">
              R$ 500,00 unidade até R$ 1500,00
          </div>
          <div class="card-body">
              <h5 class="card-title">Troca de farois</h5>
              <p class="card-text truncar-3l">
                  Ressaltamos que os valores acima podem sofrer variações.
              </p>
          </div>
          <div class="card-footer">
              <a href="carrinho.html" class="btn btn-success mt-2 d-block">
                  Adicionar ao Carrinho
              </a>
              <small class="text-success">Vaias marcas em estoque</small>
          </div>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div class="card text-center bg-light">
          <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
          </a>
          <img src="img/produtos/0007.jfif" class="card-img-top">
          <div class="card-header">
              R$ --
          </div>
          <div class="card-body">
              <h5 class="card-title">Reparo funilaria</h5>
              <p class="card-text truncar-3l">
                  Profissionais qualifacados e certificados.
              </p>
          </div>
          <div class="card-footer">
              <a href="carrinho.html" class="btn btn-success mt-2 d-block">
                  Marque agendamento.
              </a>
              <small class="text-success">É necessario orçamento</small>
          </div>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div class="card text-center bg-light">
          <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart" style="font-size: 24px; line-height: 24px;"></i>
          </a>
          <img src="img/produtos/0008.jfif" class="card-img-top">
          <div class="card-header">
              R$ 600,00
          </div>
          <div class="card-body">
              <h5 class="card-title">Cristalização</h5>
              <p class="card-text truncar-3l">
                  Valor único para carros de passeo.
              </p>
          </div>
          <div class="card-footer">
              <a href="carrinho.html" class="btn btn-success mt-2 d-block">
                  Adicionar ao Carrinho
              </a>
              <small class="text-success">Marque agendamento</small>
          </div>
      </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
      <div class="card text-center bg-light">
          <a href="#" class="position-absolute end-0 p-2 text-danger">
              <i class="bi-suit-heart-fill" style="font-size: 24px; line-height: 24px;"></i>
          </a>
          <img src="img/produtos/0009.jfif" class="card-img-top">
          <div class="card-header">
              R$ 150,00 até R$ 400,00
          </div>
          <div class="card-body">
              <h5 class="card-title">Higienização</h5>
              <p class="card-text truncar-3l">
                  Para carros de passeos é o menor valor para os demais é o maior.
              </p>
          </div>
          <div class="card-footer">
              <a href="carrinho.html" class="btn btn-success mt-2 d-block">
                  Adicionar ao Carrinho
              </a>
              <small class="text-success">Marque um horário</small>
          </div>
      </div>

</div>

<hr class="mt-3">

<div class="row pb-3">
  <div class="col-12">
      <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
          <form class="d-inline-block">
              <select class="form-select form-select-sm">
                  <option>Ordenar pelo nome</option>
                  <option>Ordenar pelo menor preço</option>
                  <option>Ordenar pelo maior preço</option>
              </select>
          </form>
          <nav class="d-inline-block me-3">
              <ul class="pagination pagination-sm my-0">
                  <li class="page-item">
                      <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item disabled">
                      <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">5</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">6</a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
</div>
</div>
